<launch>
  <!--
      Please set environmental variables

      export NAO_IP=192.168.0.20
  -->

  <include file="$(find pepper_bringup)/launch/pepper.launch">
    <arg name="force_python" value="true"/>
  </include>
  <include file="$(find nao_apps)/launch/nao_behaviors.launch"/>
  <include file="$(find nao_apps)/launch/nao_speech.launch"/>
  <include file="$(find nao_apps)/launch/nao_alife.launch"/>
  <include file="$(find nao_apps)/launch/nao_wheel.launch"/>
</launch>
